/* GLOBAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: 'Source Sans Pro', sans-serif;

}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Volkhov', serif;
}


p {
    font-size: 17px;
    line-height: 27px;
    color: #707070;
}

.container {
    padding: 0;
}

.button {
    padding: 12px 30px;
    border: 1px solid #FB811E;
    border-radius: 30px;
    font-weight: 600;
    background-color: #FB811E;
    margin-top: 1em;
    color: white;
    transition: all 0.5s;
    text-transform: uppercase;
}

.button:hover {
    background-color: #209B47;
    border-color: #209B47;
}

/* HEADER */
#header {
    position: fixed;
    z-index: 99;
    padding-top: 10px;
    width: 100%;
    /* background-color: white; */
}

/* #header .container {
    position: relative; 
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
} */

.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__content h1 {
    right: 18px;
    position: relative;
}

.header__content h1 a {
    position: relative;
    font-size: 32px;
    color: #FB811E;
    padding: 0px;
    text-decoration: none;

    transition: all 0.5s;
}

.header__content h1 a:hover {
    color: #060606;
}

.header__content h1 a i {
    position: absolute;
    top: -3px;
    left: 55px;
    font-size: 17px;
}

.header__content--right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header__content--right form {
    padding-right: 19px;
}

.header__content--right form input {
    background-image: url(../img/search.png);
    background-position: center;
    background-repeat: no-repeat;
    width: 35px;
    height: 35px;
    border: 1px solid white;
    border-radius: 50%;
    cursor: pointer;

    transition: all 0.5s;
}

.header__content--right form input:focus {
    width: 200px;
    border-radius: 10rem;
    background-position: left;
    outline: none;
    padding: 0 20px;
    cursor: auto;
}







.header__content--right .toggle .btn-group i {
    font-size: 1.5em;
    color: white;
}

.dropdown-toggle::after {
    /* xóa dấu mũi tên dropdown */
    content: none;
}

.header__content--right .toggle .btn-group li {
    list-style: none;
    text-align: center;
    cursor: pointer;
    padding: 5px 5px;
}

.header__content--right .toggle .btn-group li a {
    width: 100%;
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: 600;
    display: block;
    transition: all 0.3s;
}

.header__content--right .toggle .btn-group li a:hover, 
.header__content--right .toggle .btn-group li:first-of-type a {
    color: #FB811E;
}

.header__content--right .toggle .btn-group .dropdown-menu {
    width: 215px !important;
}

.header__content--right .toggle .btn-group .dropdown-menu ul {
    margin-bottom: 0px;
}



/* WELCOME */
.welcome {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.welcome__left {
    width: 41.6666%;
}

.welcome__right {
    width: 58.3333%;
}

#carouselWelcome .carousel-inner {
    /* lấy chiều cao bằng y khung trình duyệt */
    height: 100vh;
}

.welcome__left--content {
    position: relative;
    top: 10px;
    left: 175px;
    z-index: 1;
}

.welcome__left--content::after {
    content: "Farm";
    font-family: 'Volkhov', serif;
    position: absolute;
    top: -100px;
    left: 0;
    font-size: 120px;
    font-weight: bold;
    margin-left: -.5em;
    color: rgba(128, 128, 128, 0.1);
}

.welcome__left--content h3 {
    font-size: 50px;
    line-height: 60px;
    font-weight: bold;
}

.welcome__left--content p {
    padding-right: 20px;
    font-size: 20px;
    margin: 1.5em 0;
    opacity: 0.75;
}

.welcome__right .carousel-indicators li {
    width: 12px;                        
    height: 12px;
    opacity: 1;
    border-radius: 50%;    
}

.welcome__right .carousel-indicators .active {
    background-color: #FB811E;
}

.welcome__right .carousel-inner {
    border-radius: 0 0 0 20px;
}

.welcome__right .carousel-inner .carousel-item img {
    filter: contrast(80%);
}

.welcome__right .carousel-inner .carousel-caption {
    position: relative;
    top: -200px;
    left: 377px;
}

.welcome__right .carousel-inner .carousel-caption h5 span {
    font-size: 25px;
}

/* NATURAL */
.natural {
    position: relative;
    top: 100px;
}

/* .natural .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
} */

/* .natural__right, .natural__left {
    width: 50%;
} */

.natural__left h3 {
    font-size: 22px;
    color: #FB811E;
}

.natural__left h1 {
    font-size: 40px;
    line-height: 50px;
    font-weight: 600;
}

.natural__left p {
    padding-right: 20px;
}

.natural__right .natural__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.natural__right .natural__item {
    box-shadow: 0 1rem 3rem rgb(0 0 0 / 3%);
    border-radius: 30px;
    background-color: white;
    text-align: center;
    padding: 40px 30px;

    transition: all 0.3s;
}

.natural__right .natural__item:hover {
    box-shadow: 0 25px 98px 0 rgb(0 0 0 / 10%);
}

.natural__right .natural__item img {
    max-width: 65px;
}

.natural__right .natural__item h5 {
    font-size: 20px;
    line-height: 28px;
    font-weight: 600;
    margin-top: 25px;
    cursor: pointer;
    color: #060606;

    transition: all 0.5s;
}

.natural__right .natural__item h5:hover {
    color: #209B47;
}

/* ORGANICFOOD */
.organicfood {
    position: relative;
    top: 150px;
    background-color: #009F4D;
}

.organicfood__top {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding-top: 100px;
}

.organicfood__top .side {
    width: 50%;
    font-size: 1.25rem;
    font-weight: 300;
    color: white; 
}

.organicfood__title::after {
    content: "Services";
    font-family: 'Volkhov', serif;
    font-size: 12vw;
    font-weight: bold;
    opacity: 0.14;
    position: absolute;
    top: 0;
    right: 50%;
    transform: translate(50%, 50%);
    bottom: 50%;
}

.organicfood__title h3 {
    font-size: 22px;
}

/* QUALITY  */

.quality{
    position: relative;
    top: 180px;
}

h5.small-title{
    color: #fb811e;
    font-size: 22px;
}
.title-style{
    font-size: 40px;
    line-height: 50px;
    font-weight: 600;
    color: #060606;
}

.grids_info span.fa{
    font-size: 30px;
    color: #FB811E;
}
.grips_info h4{
    font-size: 24px;
    margin-bottom: 10px;
    font-weight: 600;
}
.radius-image{
    border-radius: 30px;
}
.img__box{
    background-color: #FB811E;
    color: #fff;
    position: absolute;
    left: -85px;
    bottom: 38px;
    padding: 40px;
    box-shadow: 30px 30px 30px rgb(0 0 0 / 20%);
    min-width: 300px;
    border-radius: 0 0 100px 0;
    text-align: center;
}
.img__box .img__title{
    font-size: 70px;
    line-height: 80px;
    color: #fff;
    font-weight: 600;
}
.img__box p{
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: .2px;
}




.organicfood__title h1 {
    font-size: 40px;
    line-height: 50px;
    font-weight: 600;
}

.organicfood__bottom {
    padding: 80px 0;
}

.organicfood__detail {
    background-color: white;
    border-radius: 20px;
    
}

.organicfood__item img {
    width: 100%;
    border-radius: 20px 20px 0 0;
    cursor: pointer;
}

.organicfood__item button {
    margin: 30px 20px 20px 25px;
    padding: 4px 17px;
    border: 1px;
    border-radius: 15px;

    background-color: rgba(0, 159, 77, 0.15);
    color: #009F4D;
    font-weight: 600;
    cursor: text;
}

.organicfood__para {
    padding-left: 25px;
}

.organicfood__para h3 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 24px;
    line-height: 30px;
    font-weight: 600;
    cursor: pointer;

    transition: all 0.5s;
}

.organicfood__para h3:hover {
    color: #009F4D;
}

.organicfood__para p {
    padding-top: 5px;
    padding-bottom: 25px;
}

/* GRID */
.grid {
    position: relative;
    top: 200px;
}

.grid__item a {
    padding: 0 10px;
    width: 100%;    
    border-radius: 10px;
    color: #eee;
    text-decoration: none;
    border: 1px solid white;

    transition: all 0.3s;
}

.grid__item a:hover {
    border: 1px solid #eee;
}

.grid__item .grid__img img {
    width: 100%;
}

.grid__item .grid__para h3 {
    font-size: 22px;
    line-height: 25px;
    font-weight: 600;
    color: #060606;

    transition: all 0.3s;
}

.grid__item a:hover .grid__para h3 {
    color: #209B47;
}

/* PRODUCT  */
.product{
    position: relative;
    top: 200px;
}
.product_effect a{
    text-decoration: none;
    
}
.column .product_effect{
    position: relative;
}
.product_effect1 a{
    color: slategray;
    text-decoration: none;
    background-color: transparent;
}
.gallery-img-grid .product_effect1{
    position: absolute;
}
h5.gall-text{
    position: absolute;
    z-index: 0;
    color: #fff;
    bottom: 0;
    font-weight: bold;
    background: rgb(255 255 255 / 27%);
    padding: 6px;
    text-align: center;
    left: 0;
    right: 0;
    margin: 20px;
    margin-bottom: 31px;
}
.product_effect1::before{
    content: "";
    background: #000;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 1s;
    z-index: 1;
}
.product_effect1:hover{
    opacity: 0.5;
}


 /* client  */
 .client{
    background-image: url(../img/bg1.jpg);
    height:500px;
    position: relative;
    margin-top: 182px;
    background-position: none;
    background-repeat: no-repeat;
    z-index: 1;
} 
.client::before{
    content: "";
    background: rgb(10 10 10 / 52%);
    position: absolute;
    top: 0;
    min-height: 100%;
    left: 0;
    right: 0;
    z-index: -1;
}





/* FOOTER  */
.footer{
  position: relative;
  top: 6px;
}
.footer .footer__main h3 {
  font-size: 20px;
  line-height: 25px;
  margin-bottom: 30px;
  font-weight: 600;
  text-transform: uppercase;
  color: black;
}
.footer-p a{
    text-decoration: none;
}
.logo{
    color:#FB811E;
}
.footer-p a:hover{
    color:#060606;
    transition: all 0.2s;
}

.footer .column-2 p {
  line-height: 24px;
}
.footer__text2 a{
    color: #707070;
}

.footer .footer-p p a:hover {
  color: #FB811E;
  text-decoration: none;
}

.footer p.copy-text a {
  color: #009f4d;
}

.footer p.copy-text a:hover {
  color: #FB811E;
}

.footer .subscribe input[type="email"] {
  background: #f4f4f4;
  border: none;
  padding: 12px 20px;
  font-size: 16px;
  outline: none;
  width: 80%;
  color: #707070;
  border: 1px solid #fafffc;
  border-radius: 30px 0px 0px 30px;
}
.footer .subscribe  input[type="email"]:hover{
    border: 1px solid #009f4d;
    border-radius: 30px 0px 0px 30px;
    transition: 0.3s;
}

.footer .subscribe button {
  background: #009f4d;
  border: none;
  outline: none;
  font-size: 16px;
  padding: 12px 12px;
  cursor: pointer;
  width: 20%;
  color: #fff;
  border-radius: 0px 30px 30px 0px;
}

.footer .subscribe button:hover {
  opacity: .8;
}

.footer ul.social li,
.footer ul.jst-link li {
  display: inline-block;
  margin-right: 5px;
}

.footer ul.social li a {
  color: #009F4D;
  width: 35px;
  height: 35px;
  background: rgb(10 191 83 / 8%);
  display: inline-block;
  border-radius: 50%;
  text-align: center;
}

.footer ul.social li a:hover {
  color: #009F4D;
  background: rgb(255 201 69 / 19%);
  box-shadow: 0px 4px 7px 0px rgb(10 10 10 / 24%);
}

.footer ul.social li a span {
  font-size: 15px;
  line-height: 35px;
}
/* BACK TO TOP   */
.backToTop {
    position: fixed;
    display: block;
    bottom: 90px;
    right:15px;
    z-index:9;
    font-size:16px;
    border: none;
    outline: none;
    color: #fff;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    line-height:40px;
    padding: 0;
    background-color: #009F4d;
    text-align: center;
    
    opacity: 0;
    visibility: hidden;
}
.cd-top--is-visible{
    visibility: visible;
    opacity: 1;
}



/* RESPONSIVE  */

/* responsive header */
@media (max-width:1440px){

}

/* responsive welcome */
@media (max-width:1440px) {
  .welcome h3 {
    font-size: 40px;
    line-height: 50px;
  }
  .welcome__left--content h3 {
    font-size: 35px;
  }
  .welcome__left--content p {
    font-size: 20px;
  }
}
@media (max-width:1140px){
    .welcome__left--content h3{
        margin-left: 10px; 
        
    }
}


/* Responsive natural */
@media  (max-width:620px){
    .container{
        max-width: 500px;
        
    }
    .natural__left h3{
        font-size: 20px;
    }
    .natural__left h1{
        font-size: 32px;
    }
}
@media  (max-width:500px){
    .container{
        max-width: 450px;
        
    }
    .natural__left h3{
        font-size: 18px;
    }
    .natural__left h1{
        font-size: 30px;
    }
}
/* responsive organicfood */




/* Responsive Quality   */
@media all and (max-width: 1440px) {
  .title-style {
    font-size: 30px;
    line-height: 40px;
  }
}

@media all and (max-width: 991px) {
  .title-style {
    font-size: 35px;
    line-height: 45px;
  }

  h5.small-title {
    font-size: 20px;
  }
}

@media all and (max-width: 768px) {
  .title-style {
    font-size: 32px;
    line-height: 42px;
  }

  h5.small-title {
    font-size: 18px;
  }
}

@media all and (max-width: 568px) {
  .title-style {
    font-size: 30px;
    line-height: 40px;
  }
}
@media (max-width: 738px) {
  .imginfo__box {
    left: -50px;
  }
}




/* responsive footer */
@media screen and (max-width: 1190px) {
  .footer .footer__main h3 {
    font-size: 16px;
  }

  .footer .subscribe button {
    width: 30%;
  }
}

@media screen and (max-width: 991px) {
  .footer .footer__main h4 {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 736px) {
  .footer .below-section {
    display: block !important;
    text-align: center;
  }
  .footer{
      left:15px;
  }
}

@media screen and (max-width: 801px) {
  .footer .footer__main h4 {
    margin-bottom: 18px;
  }
}

@media screen and (max-width: 640px) {
  .footer .subscribe button {
    padding: 12px 10px;
  }
}

@media screen and (max-width: 420px) {
  .footer{
    grid-gap: 15px;
    grid-template-columns: 1fr;
  }

  .footer .subscribe button {
    width: 20%;
  }
}

@media screen and (max-width: 375px) {
  .footer .grid {
    grid-gap: 20px;
  }
}





